algo_ripphausen/.settings/*
algo_ripphausen/bin/*
algo_ripphausen/.classpath
algo_ripphausen/.projekt
.metadata
algo_ripphausen/res/test/*
algo_graphs/.settings/*
algo_graphs/bin/*
algo_graphs/.classpath
algo_graphs/.projekt
algo_hashmaps/.settings/*
algo_hashmaps/bin/*
algo_hashmaps/.classpath
algo_hashmaps/.projekt
abgaben
sort_ripphausen/.settings/*
sort_ripphausen/bin/*
sort_ripphausen/.classpath
sort_ripphausen/.projekt
algo_ripphausen_no_abgabe