algo_ripphausen/.settings/*
algo_ripphausen/bin/*
algo_ripphausen/.classpath
algo_ripphausen/.project
.metadata
algo_ripphausen/res/test/*
algo_graphs/.settings/*
algo_graphs/bin/*
algo_graphs/.classpath
algo_graphs/.project
algo_hashmap/.settings/*
algo_hashmap/bin/*
algo_hashmap/.classpath
algo_hashmap/.project
abgaben
sort_ripphausen/.settings/*
sort_ripphausen/bin/*
sort_ripphausen/.classpath
sort_ripphausen/.project
algo_ripphausen_no_abgabe